body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue", Helvetica,Arial,sans-serif;
}

.logo {
	background-image: url("../images/hbnb_logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	width: 120px;
	margin-left: 20px;
}
